<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hi Lo Game</title>
    <link type="text/css" rel="stylesheet" href="hilo.css"/>
  </head>
  <body>
    <h1><%= @user_num %> is <%= @result %></h1>
    <br/>
    <%= @counter %>
    <br/>
    <%= cookies[:comp_number] %>
  </body>
</html>
